<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Files</title>
</head>
<body>
    <!--Images -->
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <div class="row">
                <div class="col-xs-7 col-sm-7 col-md-7">
                    <h4>Gallery</h4>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-5">
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button id="captureButton" type="button" class="btn btn-primary" ng-click="mc.capture()">
                                <span class="glyphicon glyphicon-camera" ng-show="mc.takingImage == false"></span>
                                <i class="fa fa-circle-o-notch fa-spin-custom" ng-show="mc.takingImage == true"></i>
                                <span class="hidden-xs hidden-sm">Capture</span>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" type="button" class="btn btn-default" ng-click="mc.getImages()">
                                <span class="fa fa-refresh" ng-show="mc.loadingImages == false"></span>
                                <!--<span class="fa fa-refresh"></span>-->
                                <i class="fa fa-refresh fa-spin-custom" ng-show="mc.loadingImages == true"></i>
                                <span class="hidden-xs hidden-sm">Capture</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!--Message display the camera's script output.-->
            <div id="errorMessage" ng-if="mc.captureError === true" class="panel">
                <h4>Error detected</h4>
                <p>{{ mc.programOut['stderr'] }}</p>
            </div>
            <div id="successMessage" ng-if="mc.captureError === false" class="panel">
                <h4>Capture Successful</h4>
            </div>
        </div>
        <!--<div imageDisplay>Testing: {{ mc.Name }}</div>-->
        <div class="panel-body">
            <div class="row">
                <div ng-repeat="image in mc.images" class="col-xs-12 col-sm-6 col-md-4">
                    <image-display image = "image" path = "mc.getImagePath(image)" open="mc.open"></image-display>
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="modalContent.html">
        <div id="customModal">
            <div class="modal-body" id="modal-body">
                <image-display image = "image" path = "path"></image-display>
            </div>
            <div class="modal-footer">
                <div id="modalButtons" class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button class="btn btn glyphicon glyphicon-menu-left" type="button" ng-click="previous()"></button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn glyphicon glyphicon-remove" type="button" ng-click="ok()"> {{ index + 1 }}/{{ images.length }} </button>
                        <!--<button class="btn btn glyphicon glyphicon-remove" type="button" ng-click="ok()"></button>-->
                    </div>
                    <div class="btn-group">
                        <button class="btn btn glyphicon glyphicon-menu-right" type="button" ng-click="next()"></button>
                    </div>
                </div>
            </div>
        </div>
    </script>
</body>
</html>