.nav-stacked li {
    display: inline-block;
    text-align: center;
}

#modalButtons {
    vertical-align: top;
}

panel-heading {
    vertical-align: middle;
}

#welcomeText {
    text-align: center;
}

div#errorMessage {
    color: red;
    margin-bottom: 0;
    font-style: italic;
}

div#successMessage {
    color: blue;
    margin-bottom: 0;
    font-style: italic;
}

div#icon_buttons.btn-group {
   float: right;
}

.panel {
    text-align: center;
}

#customThumbnail {
    text-align: center;
    vertical-align: middle;
}

div#modal-body {
    padding: 0;
}

.modal-dialog #customThumbnail {
    margin-bottom: 0;
}

div.modal-footer {
    padding: 0;
    border-top: 0;
}

/*http://chadkuehn.com/animated-font-spinners/*/
.fa-spin-custom {
    -webkit-animation: 1s spin infinite linear;
    animation: 1s spin infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}