<div id="customThumbnail" class="thumbnail">
    <img class="img-responsive" ng-src="{{ path }}" alt="{{ image }}" style="width:100%" ng-click="open(image)">
    <div class="caption">
        <!--No Need for '.jpeg' etc.-->
        {{ image.split('.')[0] }}
        <div id="icon_buttons" class="btn-group">
            <a href="{{ path }}" download="{{ image }}" ng-click="mc.justDownload()">
                <span title="Download Image" class="glyphicon glyphicon-download"></span>
            </a>
        </div>
    </div>
</div>
